body{
    background-color: #1f2020;
}
a{
    color: white;
    font-size:medium;
}
li{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
}
h1{
    color: white;
    font-size:medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
p{
    color: white;
    font-size:medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
form label {
    color: white;
    font-size:medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form input{
    background-color: #1a1a1a;
    color: #d8d8d8;
}
nav{
    display: flex;
    background-color: #2d2d2d;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
nav p{
    color: white;
    margin: 0 10px;
}
#queso{
    font-size: x-large;
    font-weight: bold;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap:45px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
h2{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}